# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [13]:
#  1. Get the total rides for each city type
urban_cities_df=pyber_data_df[pyber_data_df["type"]=="Urban"]
print(urban_cities_df.head())

suburban_cities_df=pyber_data_df[pyber_data_df["type"]=="Suburban"]
print(suburban_cities_df.head())

rural_cities_df=pyber_data_df[pyber_data_df["type"]=="Rural"]
print(ural_cities_df.head())

##Urban Rides
urban_ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
#urban_ride_count.head()

urban_ride_count = urban_ride_count.sum()
print(urban_ride_count)

##Suburban Rides
suburban_ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]

#suburban_ride_count.head()
suburban_ride_count=suburban_ride_count.sum()
print(suburban_ride_count)

##Rural Rides
rural_ride_count = pyber_data_df.groupby(["type"]).count()["ride_id"]

#rural_ride_count.head()
rural_ride_count=rural_ride_count.sum()
print(rural_ride_count)

                 city                 date   fare        ride_id  \
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

   driver_count   type
0             5  Urban
1            72  Urban
2            57  Urban
3            34  Urban
4            46  Urban
               city                 date   fare        ride_id  driver_count  \
1625  Barronchester  2019-01-27 03:08:01  27.79  6653622887913            11
1626  East Kentstad  2019-04-07 19:44:19  18.75  6575961095852            20
1627      Lake Omar  2019-01-17 21:33:35  21.71   966911700371            22
1628     Myersshire  2019-02-27 17:38:39  17.10  5706770909868            19
1629    West Hannah  2019-04-19 01:06:59  37.78  2273047151891            12

          type
1625  Suburban
1626  Suburban
1627  Suburban
1628  Suburban
1629  Suburban

NameError: name 'ural_cities_df' is not defined

In [4]:
# 2. Get the total drivers for each city type
total_drivers_city = ()

In [5]:
#  3. Get the total amount of fares for each city type

In [6]:
#  4. Get the average fare per ride for each city type.

In [7]:
# 5. Get the average fare per driver for each city type.

In [8]:
#  6. Create a PyBer summary DataFrame.

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# 1. Read the merged DataFrame

In [12]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 7. Check that the datatype for the index is datetime using df.info()

In [18]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')