# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5739410935873,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2005065760003,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5149245426178,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
## Create subarban DFs
suburban_cities_df=pyber_data_df[pyber_data_df["type"]=="Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,1/27/2019 3:08,27.79,6653622887913,11,Suburban
1626,East Kentstad,4/7/2019 19:44,18.75,6575961095852,20,Suburban
1627,Lake Omar,1/17/2019 21:33,21.71,966911700371,22,Suburban
1628,Myersshire,2/27/2019 17:38,17.10,5706770909868,19,Suburban
1629,West Hannah,4/19/2019 1:06,37.78,2273047151891,12,Suburban

In [4]:
##  Create Urban cities DF
urban_cities_df=pyber_data_df[pyber_data_df["type"]=="Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5739410935873,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2005065760003,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5149245426178,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3908451377344,46,Urban

In [5]:
## Create rural DFs
rural_cities_df=pyber_data_df[pyber_data_df["type"]=="Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,4/13/2019 11:13,43.22,1076079536213,9,Rural
2251,North Holly,2/2/2019 14:54,12.42,1985256326182,8,Rural
2252,Michaelberg,3/27/2019 18:27,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2/23/2019 21:12,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,5/6/2019 8:57,51.80,4018025271936,2,Rural

In [6]:
#  1. Get the total rides for each city type

total_rides_count = pyber_data_df.groupby(["type"]).count()["ride_id"]
#total_rides_count.head()

print(total_rides_count)

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [7]:
# 2. Get the total drivers for each city type
total_driver_count = pyber_data_df.groupby(["type"]).sum()["driver_count"]
#total_driver_count.head()

print(total_driver_count)

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [8]:
#  3. Get the total amount of fares for each city type
total_fare_count = pyber_data_df.groupby(["type"]).sum()["fare"]

print(total_fare_count)

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [9]:
#  4. Get the average fare per ride for each city type.

average_fare_count = total_fare_count/total_rides_count

print(average_fare_count)

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [10]:
# 5. Get the average fare per driver for each city type. 

average_fare_per_driver = total_fare_count/total_driver_count

print(average_fare_per_driver)

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [11]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_data_df=pd.DataFrame({
    "City Types" : type,
    "Total Rides" : total_rides_count,
    "Total Drivers":total_driver_count,
    "Total Fares": total_fare_count,
    "Average Fare per Ride":average_fare_count,
    "Average Fare per Driver": average_fare_per_driver})
pyber_summary_data_df

,City Types,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,,
Rural,<class 'type'>,125,537,4327.93,34.623440,8.059460
Suburban,<class 'type'>,625,8570,19356.33,30.970128,2.258615
Urban,<class 'type'>,1625,59602,39854.38,24.525772,0.668675

In [12]:
#  7. Cleaning up the DataFrame. Delete the index name

pyber_summary_data_df.index.name = None

In [13]:
#  8. Format the columns.

pyber_summary_data_df["Total Fares"] = pyber_summary_data_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_data_df["Average Fare per ride"] = pyber_summary_data_df["average fare per ride"].map("${:,.2f}".format)
pyber_summary_data_df["Average Fare per Driver"] = pyber_summary_data_df["average fare per driver"].map("${:,.2f}".format)

pyber_summary_data_df

KeyError: 'average fare per ride'

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [14]:
# 1. Read the merged DataFrame

pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5739410935873,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2005065760003,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5149245426178,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3908451377344,46,Urban

In [15]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
pyber_data_df.rename(columns={'city': 'City',
                     'date':'Date',
                     'fare':'Fare', 
                     'ride_id': 'Ride Id',
                     'driver_count': 'No. Drivers', 
                     'type':'City Type'}, inplace=True)
pyber_data_df.head()

,City,Date,Fare,Ride Id,No. Drivers,City Type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5739410935873,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2005065760003,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5149245426178,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3908451377344,46,Urban

In [16]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
pyber_data_df.set_index("Date", inplace = True)
pyber_data_df.head()

,City,Fare,Ride Id,No. Drivers,City Type
Date,,,,,
1/14/2019 10:14,Lake Jonathanshire,13.83,5739410935873,5,Urban
3/4/2019 18:24,South Michelleport,30.24,2343912425577,72,Urban
2/24/2019 4:29,Port Samanthamouth,33.44,2005065760003,57,Urban
2/10/2019 23:22,Rodneyfort,23.44,5149245426178,34,Urban
3/6/2019 4:28,South Jack,34.58,3908451377344,46,Urban

In [17]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare'

table = pd.pivot_table(data= 'index', columns= 'type', values=['fare'])
pivot_table(index='date', columns='type', values= 'fare', aggfunc=np.count_nonzero).reset_index()

# to get the total fares for each type of city by the date.

KeyError: 'fare'

In [18]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [19]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [20]:
# 7. Check that the datatype for the index is datetime using df.info()

In [21]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [22]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')
plt.style.use('fivethirtyeight') # figure style per requirement

fig, ax = plt.subplots(figsize=(30, 10))  ## calls object_oriented method and sets  nice diagonal size

## Build the plot
ax.plot(x_axis, urban_y_axis, color="yellow", linewidth=2, label="Urban")  # plots urban fares
ax.plot(x_axis, rural_y_axis, color="blue", linewidth=2, label="Rural")  # plots rural fare
ax.plot(x_axis, suburban_y_axis, color="red", linewidth=2, label="Suburban") # plots suburban fares

# #Set a title
ax.set_title("Total Fare by City Type", fontsize=20, weight="bold")

# # Label the axes
ax.set_xlabel("Month", fontsize=16, weight='bold')
ax.set_ylabel("Fare ($USD)", fontsize=16, weight='bold')

## set x axis ticks to months 
import matplotlib.dates as mdates  
## get the needed library for handling dates
months = mdates.MonthLocator()  
## use to find months
ax.xaxis.set_major_locator(months) 
# use ax set_major_locator(). Sets ticks to month 

## format x axis to month plus year format as per pix. could not figure out how to now show for in between ticks.
month_format = mdates.DateFormatter("%b-%Y")  
## sets format to month- year
ax.xaxis.set_major_formatter(month_format)

## Legend parameters
# sets lgnd as variable for plt.legend() with these parameters.
lgnd = plt.legend(fontsize="12", scatterpoints=1 # number of markers in the legend. nice fine continous line.
             , loc="center"  
# place legend in center, title="City Type") 

# legend title
lgnd.legendHandles[0]._sizes = [100] 

# sets legend handles to 100
lgnd.legendHandles[1]._sizes = [100] 

# and so on for 2nd item.
lgnd.legendHandles[2]._sizes = [100]
lgnd.get_title().set_fontsize(14) 

# legend title size
lgnd.get_title().set_weight="bold" 
# bold the legend title

# Setting grid, with a visible linewidth
ax.grid(linewidth=2) 

##  save the figure to drive.
plt.savefig("analysis\Total_Fare_by_City_Type_Pyber_Challenge_Module_5.png")

plt.show

SyntaxError: invalid syntax (<ipython-input-22-5feadf1c9712>, line 43)